<div class="container mt-3 mb-5 d-flex justify-content-start">
    <div class="logo-image" height="60px"></div>
</div>
  <div *ngIf="order && shopName" class="container">
  
    <div class="row" >
        <div class="col-md-8 order-md-2 mt-3">
            <div class="d-block">
                <div class="">
                    <app-yoco [order]="order" [callBackUrl]="callBackUrl"></app-yoco>
                </div>
            </div>
  
       <!-- <app-payfast [order]="order" [storeName]="shopName" [callBackUrl]="callBackUrl"> </app-payfast> -->
        </div>

        <div *ngIf="order" class="col-md-4 order-md-2 mb-3">
            <ul class="list-group mb-3">
                <li *ngFor="let orderItem of order.basket.items"
                    class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0 ">{{orderItem.name}}</h6>
                        <small class="">{{orderItem.description}}</small>
                    </div>
                    <span class="">{{orderItem.price | currency:'R'}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <div class="my-0 ">Processing Fees</div>
                        <small class="">Shipping to {{order.shippingData.toAddress}}</small>
                    </div>
                    <span class="" *ngIf="order.freeDelivery">{{order.serviceFee | currency:'R'}}</span>
                    <span class=""*ngIf="!order.freeDelivery">{{order.shippingData.fee + order.serviceFee | currency:'R'}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between ">
                    <span>Total (ZAR)</span>
                    <strong>{{order.totalAmount | currency:'R'}}</strong>
                </li>
                <li *ngIf="order.minimumDepositAllowedPerc < 1" class="list-group-item d-flex justify-content-between ">
                    <span>Deposit to pay ({{order.minimumDepositAllowedPerc * 100}}% + Shipping)</span>
                    <strong>{{order.depositAmount | currency:'R'}}</strong>
                </li>
            </ul>
        </div>
    </div>
  </div>