<div *ngIf="!orderSuccessful">

<ul class="list-group mt-3 text-muted">
    <li *ngIf="order.minimumDepositAllowedPerc == 1" class="list-group-item d-flex justify-content-between">
        <span>Total (ZAR)</span>
        <strong>{{order.totalAmount | currency:'R'}}</strong>
    </li>
    <li *ngIf="order.minimumDepositAllowedPerc < 1" class="list-group-item d-flex justify-content-between text-muted">
        <span>Deposit to pay ({{order.minimumDepositAllowedPerc * 100}}% + Shipping)</span>
        <strong>{{order.depositAmount | currency:'R'}}</strong>
    </li>
</ul>

<div class="mb-3 mt-3" *ngIf="!isTip">
    <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Promo Code</span>
            </div>
            <input class="form-control" claria-describedby="basic-addon1" type="text" [(ngModel)]="promoCode" name="promoCode" #tipAmountInput="ngModel">
    </div>
</div>  

<div *ngIf="payOnDeliveryAllowed()" class="form-check mt-3">
    <input class="form-check-input" [checked]="payOndeliery" type="checkbox" (change)="payOndeliery = !payOndeliery" id="flexCheckDefault" >
    <label class="form-check-label" for="flexCheckDefault" >
      Pay with card on delivery
    </label>
</div>

<div *ngIf="hasPromoCode() && !promoCodeApplied() && !isTip else continueToPay">
    <div class="col-md-6 mb-5">
        <button id="apply-promo" (click)="applyPromo()" class="btn btn-lg btn-block btn-primary bg-dark shadow-sm">
            Apply Promo Code
        </button>
    </div>
</div>
<ng-template #continueToPay>
    <div *ngIf="!isBusy" class="row mt-3 mb-5">
        <div class="col-md-6">
            <button *ngIf="!payOndeliery" id="pay-button" (click)="startYocoPayment()" class="btn btn-lg btn-block btn-primary bg-dark shadow-sm">
                Pay Now
            </button>
            <button *ngIf="payOndeliery" id="pay-button" (click)="startCODPayment($event)" class="btn btn-lg btn-block btn-primary bg-dark shadow-sm">
                Card On Delivery
            </button>
        </div>
    </div>

    <div *ngIf="isBusy" class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <lottie-player src="../../assets/images/lottie/verify-card.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"  loop autoplay></lottie-player>
            </div>
        </div>
    </div>
</ng-template>

<div *ngIf="orderSuccessful">
    <div class="d-flex justify-content-center">
        <lottie-player src="../../assets/images/lottie/done.json"  background="transparent"  speed="1"  style="width: 230px;" autoplay></lottie-player>
    </div>
    <div class="pay-success d-flex justify-content-center">
        <div class="h3 text-center">Payment successful. Please close the window.</div>
    </div>
</div>